<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/#dashboard">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/#dashboard">Dashboard</a>
      </li>
      <ng-container *ngIf="!auth.isAuthenticated">
        <li class="nav-item">
        <a class="nav-link" href="/#registration">Registration</a>
      </li>
      </ng-container>
      <ng-container *ngIf="auth.isAuthenticated">
        <li class="nav-item">
          <a class="nav-link" href="/#profile">Profile</a>
        </li>
      </ng-container>
    </ul>
      <div class="nav-item">
        <app-profile-bar></app-profile-bar>
      </div>
      <div class="nav-item">
        <ng-container *ngIf="!auth.isAuthenticated">
          <a class="nav-link" href="/#"><button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button></a>
        </ng-container>
      </div>
      <div class="nav-item">
        <ng-container *ngIf="!auth.isAuthenticated">
          <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" (click)="this.auth.loginFB()"></div>
        </ng-container>
      </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>


