<div class="container">
  <div class="row mt-2">
    <div class="col-md-6">
      <button class="btn btn-danger btn-block  text-white mx-auto" (click)="deleteCar()">Delete</button>
    </div>
    <div class="col-md-6">
    <a href="/#dashboard"><button class="btn btn-primary btn-block  text-white right mx-auto">Back</button></a>
    </div>
  </div>
</div>




<div class="row mt-4">

  <div class="col-lg-4 mb-2">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="text-primary font-weight-bold m-0">Share Car</h6>
      </div>
      <div class="card-body">
        <form [formGroup]="shareField" (submit)="shareCar()">
<!--          <div class="form-group"><label for="">Input Car Role</label><input type="text" class="form-control" formControlName="role"></div>-->

          <select class="custom-select" formControlName="role">
            <option value="disabled" >Choose your role</option>
            <option *ngFor="let role of Role" [ngValue]="role">{{role}}</option>
          </select>
          <ng-container *ngIf="key">
          <h4 class="mt-2">Share this key</h4>
          <h4 class="text-white bg-info text-center">{{key}}</h4>
          </ng-container>
          <button class="btn btn-success mt-2" type="submit">Share Car</button>
        </form>
      </div>
    </div>
   </div>




  <div class="col-lg-8 mb-2">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="text-primary font-weight-bold m-0">Edit Car</h6>
      </div>
      <div class="card-body">
          <form [formGroup]="editCar" (submit)="updateCar()" >
          <div class="form-group">

              <label>Name: {{car.mainName}}</label>
              <input class="form-control" formControlName="mainName" [(ngModel)]="car.mainName">
              <label>Brand: {{car.brand}}</label>
              <input class="form-control" type="text"  formControlName="brand" [(ngModel)]="car.brand">
              <div class="text-danger" *ngIf="editCar.get('brand').hasError('maxlength')">
                Has more than 30 characters.
              </div>

                <label>Model: {{car.model}}</label>
                <input class="form-control" type="text"  formControlName="model" [(ngModel)]="car.model">
                <div class="text-danger" *ngIf="editCar.get('model').hasError('maxlength')">
                  Has more than 30 characters.
                </div>

                <label for="">Generation: {{car.generation}}</label>
                <input class="form-control" type="text"  formControlName="generation" [(ngModel)]="car.generation">
                <div class="text-danger" *ngIf="editCar.get('generation').hasError('maxlength')">
                  Has more than 30 characters.
                </div>

                <label for="">Plate: {{car.plate}}</label>
                <input class="form-control" type="text"  formControlName="plate" [(ngModel)]="car.plate">
                <div class="text-danger" *ngIf="editCar.get('plate').hasError('maxlength')">
                  Has more than 10 characters.
                </div>
                <label for="">Mileage: {{car.mileage}}</label>
                <input class="form-control" type="number"  formControlName="mileage" [(ngModel)]="car.mileage">
                <div class="text-danger" *ngIf="editCar.get('mileage').hasError('max')">
                  Has more than 5000 000 miles.
                </div>
                <label for="">Production Year: {{car.productionYear}}</label>
                <input class="form-control" type="number"  formControlName="productionYear" [(ngModel)]="car.productionYear">
                <div class="text-danger" *ngIf="editCar.get('productionYear').hasError('min')">
                  Has less than 1900 years
                </div>
                <div class="text-danger" *ngIf="editCar.get('productionYear').hasError('max')">
                  Has more than 3000 years
                </div>
          </div>
          <button class="btn btn-success text-white" type="submit">Accept</button>
          </form>
      </div>
    </div>
  </div>
</div>



<div class="row mt-4">
  <div class="col-lg-12 mb-4">
    <div class="card-shadow mb-4">
      <div class="card-header py-3">
          <h6 class="text-primary font-weight-bold m-0">Expenses Car: {{car.mainName}}</h6>
      </div>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Amount [Sasin]</th>
              <th scope="col">Description</th>
              <th scope="col">Mileage Interval</th>
              <th scope="col">Date</th>
              <th scope="col">End Of Date Interval</th>
              <th scope="col">Category</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let e of exp.expenses">
            <tr>
                <td>{{e.amount}}</td>
                <td>{{e.description}}</td>
                <td>{{e.mileageInterval}}</td>
                <td>{{e.date}}</td>
                <td>{{e.endOfDateInterval}}</td>
                <td>{{e.category}}</td>
                <td> <button type="button" class="btn btn-warning" (click)="editExpense(e)">Edit</button></td>
            </tr>
            </ng-container>


          </tbody>
        </table>

    </div>
  </div>
</div>
<div class="row">
<div class="col-lg-12 mb-2">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="text-primary font-weight-bold m-0">Add Expense</h6>
    </div>
  <div class="card-body">
    <form [formGroup]='postExpense' (submit)="addExpense()">
      <div class="form-group"><label for="">Amount [Sasin]</label><input type="number" class="form-control" formControlName="amount">
        <div class="text-danger" *ngIf="postExpense.get('amount').hasError('max')">
          Do you spend more than 10000000000000000$$? I don't believe you.
        </div>
        <div class="text-danger" *ngIf="postExpense.get('amount').hasError('min')">
          Do you spend less than 0$$? I don't believe you.
        </div>
      </div>
      <div class="form-group"><label for="">Description</label><input type="text" class="form-control" formControlName="description">
        <div class="text-danger" *ngIf="postExpense.get('description').hasError('maxlength')">
         Has more than 256 characters
        </div>
      </div>
      <div class="form-group"><label for="">Mileage Interval</label><input type="number" class="form-control" formControlName="mileageInterval">
        <div class="text-danger" *ngIf="postExpense.get('mileageInterval').hasError('max')">
          Has more than 1000000 mileage Interval!
         </div>
         <div class="text-danger" *ngIf="postExpense.get('mileageInterval').hasError('min')">
          Has less than 0 mileage Interval!
         </div>
      </div>
      <div class="form-group"><label for="">Date</label><input type="date" class="form-control" formControlName="date"></div>
      <div class="form-group"><label for="">End Of Date Interval</label><input type="date" class="form-control" formControlName="endOfDateInterval"></div>
      <div class="form-group">
        <select class="custom-select" formControlName="category">
          <option value="" disabled>Choose category</option>
          <option *ngFor="let category of Category" [ngValue]="category">{{category}}</option>
        </select>
        <div class="text-danger" *ngIf="postExpense.get('category').hasError('required')">
          Category has required!
        </div>
      </div>
      <button class="btn btn-success" type="submit">Add Expense</button>
    </form>
  </div>
</div>
</div>
<div class="conatiner">

<ng-container *ngIf="summary">
  <h3>You spend on your car: {{sumdata.expensesTotalAmount}}</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Amount [Sasin]</th>
        <th scope="col">Description</th>
        <th scope="col">Category Total Amount</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let s of sumdata.categoriesSummary">
        <tr>
            <td>{{s.categoryExpensesCount}}</td>
            <td>{{s.categoryName}}</td>
            <td>{{s.categoryTotalAmount}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-container>
        <div class="col-md-12 mb-4">
          <form [formGroup]='summary' (submit)="getSummary()">
            <div class="form-group"><label for="">Start Date</label><input type="date" class="form-control" formControlName="startDate">
              <div class="text-danger" *ngIf="summary.get('startDate').hasError('required')">
                Required start date!
              </div>
            </div>
            <div class="form-group"><label for="">End Date</label><input type="date" class="form-control" formControlName="endDate">
              <div class="text-danger" *ngIf="summary.get('endDate').hasError('required')">
                Required start date!
              </div>
            </div>
            <button class="btn btn-success btn-block" type="submit">Get Summary</button>
          </form>
        </div>
</div>





