<div class="container-fluid">
  <div class="d-sm-flex justify-content-between align-items-center mb-4">
      <h3 class="text-dark mb-0">Dashboard</h3>
      <form [formGroup]="shareKey" (submit)="shareCar()">
         <div class="form-group"><label for="">Share Key</label><input type="text" class="form-control" formControlName="key"></div>
      <button class="btn btn-primary" type="submit">Add shared Car</button>
      </form>
  </div>


  <div class="row">
    <div class="col-lg-4 mb-2">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="text-primary font-weight-bold m-0">Add Car</h6>
        </div>
        <div class="card-body">
          <form [formGroup]="postCar" (submit)="addCar()">
            <div class="form-group"><label for="">Brand</label><input type="text" class="form-control" formControlName="brand"></div>
            <div class="text-danger" *ngIf="postCar.get('brand').hasError('maxlength')">
              Has more than 30 characters.
            </div>
            <div class="form-group"><label for="">Model</label><input type="text" class="form-control" formControlName="model">
            </div>
            <div class="text-danger" *ngIf="postCar.get('model').hasError('maxlength')">
              Has more than 30 characters.
            </div>
            <div class="form-group"><label for="">Generation</label><input type="text" class="form-control" formControlName="generation">
              <div class="text-danger" *ngIf="postCar.get('generation').hasError('maxlength')">
                Has more than 30 characters.
              </div>
            </div>
            <div class="form-group"><label for="">Plate Number</label><input type="text" class="form-control" formControlName="plate">
              <div class="text-danger" *ngIf="postCar.get('plate').hasError('maxlength')">
                Has more than 10 characters.
              </div>
            </div>
            <div class="form-group"><label for="">Mileage</label><input type="number" class="form-control" formControlName="mileage">
              <div class="text-danger" *ngIf="postCar.get('mileage').hasError('max')">
                Has more than 5000 000 miles.
              </div>
            </div>
            <div class="form-group"><label for="">Production Year</label><input type="number" class="form-control" formControlName="productionYear"></div>
            <div class="text-danger" *ngIf="postCar.get('productionYear').hasError('min')">
              Has less than 1900 years
            </div>
            <div class="text-danger" *ngIf="postCar.get('productionYear').hasError('max')">
              Has more than 3000 years
            </div>
            <button class="btn btn-success" type="submit">Add Car</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-8 mb-4">
        <div class="card-shadow mb-4">
          <div class="card-header py-3">
              <h6 class="text-primary font-weight-bold m-0">Show Cars</h6>
          </div>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Brand</th>
                  <th scope="col">Model</th>
                  <th scope="col">Generation</th>
                  <th scope="col">Plate</th>
                  <th scope="col">Mileage</th>
                  <th scope="col">Production year</th>

                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let car of cars">
                <tr>
                  <td>{{car.brand}}</td>
                  <td>{{car.model}}</td>
                  <td>{{car.generation}}</td>
                  <td>{{car.plate}}</td>
                  <td>{{car.mileage}}</td>
                  <td>{{car.productionYear}}</td>
                  <td> <button type="button" class="btn btn-warning" (click)="getCarById(car)">Edit</button></td>
                </tr>

                </ng-container>

              </tbody>
            </table>

        </div>
      </div>
  </div>
 </div>


 <button class="btn btn-primary" (click)="getLogs()">Logi</button>
      <ng-container *ngIf="logiuser">
        <h5>{{logiadmin |json}}</h5>
        <h5>{{logiuser|json}}</h5>
      </ng-container>
