<div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="img profile"/>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="container">
                                    <h5>
                                       {{profile.name}}
                                    </h5>


                                  <a class="nav-link" href="/#profileEdit" >EditProfile</a>


                        </div>
                      </div>
                </div>
              <div class="row">

                <div class="col-md-4">

                </div>
                    <div class="col-md-8">
                        <div class="container">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{profile.name}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{profile.email}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Best Car</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{profile.best_car}}</p>
                                            </div>
                                        </div>
                              </div>

                    </div>

              </div>
</div>

