<div class="container">
  <div class="row mt-2">
    <div class="col-md-6">
      <button class="btn btn-danger btn-block  text-white mx-auto" (click)="deleteExpense()">Delete</button>
    </div>
    <div class="col-md-6">
    <a href="/#carEdit"><button class="btn btn-primary btn-block  text-white right mx-auto">Back</button></a>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8 mb-2">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="text-primary font-weight-bold m-0">Edit Expense</h6>
      </div>
      <div class="card-body">
          <form [formGroup]="editExpense" (submit)="updateExpense()" >
          <div class="form-group">

              <label>Amount [Sasin]: {{exp.amount}}</label>
              <input class="form-control" type="number" formControlName="amount" [(ngModel)]="exp.amount">
              <div class="text-danger" *ngIf="editExpense.get('amount').hasError('max')">
                Do you spend more than 10000000000000000$$? I don't believe you.
              </div>
              <div class="text-danger" *ngIf="editExpense.get('amount').hasError('min')">
                Do you spend less than 0$$? I don't believe you.
              </div>
              <label> Description: {{exp.description}}</label>
              <input class="form-control" type="text"  formControlName=" description" [(ngModel)]="exp.description">
              <div class="text-danger" *ngIf="editExpense.get('description').hasError('maxlength')">
                Has more than 256 characters
               </div>
              <label>Mileage Interval: {{exp.mileageInterval}}</label>
              <input class="form-control" type="number"  formControlName="mileageInterval" [(ngModel)]="exp.mileageInterval">
              <div class="text-danger" *ngIf="editExpense.get('mileageInterval').hasError('max')">
                Has more than 1000000 mileage Interval!
               </div>
               <div class="text-danger" *ngIf="editExpense.get('mileageInterval').hasError('min')">
                Has less than 0 mileage Interval!
               </div>
              <label for="">End Of Date Interval: {{exp.endOfDateInterval}}</label>
              <input class="form-control" type="date"  formControlName="endOfDateInterval" [(ngModel)]="exp.endOfDateInterval">
              <label for="">Category: {{exp.category}}</label>
              <select class="custom-select" formControlName="category">
                <option value="" disabled>Choose category</option>
                <option *ngFor="let category of Category" [ngValue]="category">{{category}}</option>
              </select>
              <div class="text-danger" *ngIf="editExpense.get('category').hasError('required')">
                Category has required!
              </div>


          </div>
          <button class="btn btn-success text-white" type="submit">Accept</button>
          </form>
      </div>
    </div>
  </div>
</div>
